body {
    background: rgb(163, 163, 163);
    font-family: monospace
}

#btn-ingresar {
    background: green;
}

#btn-eliminar {
    background: red;
}

#btn-modificar {
    background: yellow;
}

#btn-consultar {
    background: rgb(25, 0, 255);
}

#btn-reporte {
    background: violet;
}

#btn-volver {
    background: #FF8000
}

.casilla-id-usuario {
    width: 43px;

}

.label-id-usuario {
    margin-left: 100px
}

.casilla-usuario {
    width: 140px;

}

.label-usuario {
    margin-left: 100px
}

.casilla-clave {
    width: 140px;

}

.label-clave {
    margin-left: 100px
}


.casilla-nombre {
    width: 320px;

}

.label-nombre {
    margin-left: 45px
}

.casilla-telefono {
    width: 230px;

}

.label-telefono {
    margin-left: 80px
}

.casilla-email {
    width: 380px;

}

.label-email {
    margin-left: 45px
}

.casilla-cargo {
    width: 210px;

}

.label-cargo {
    margin-left: 80px
}

.casilla-obs {
    width: 230px;

}

.label-obs {
    margin-left: 62px
}

.label-estado {
    margin-left: 80px
}


#formulario {
    margin: auto;
}